.venv/*
.idea/*
.vscode/*
.*/
!.dvc/
# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
# Streamlit cache
.streamlit/
# Virtual environments
.venv/
venv/
env/
api.log
.env
mlruns
mlartifacts
models/*/datasets/test
models/*/datasets/*.zip
models/*/datasets/*.ipynb
runs/
**/labels.cache
logs/
