ensemble-boxes==1.0.9
fastapi==0.115.12
gputil==1.4.0
langdetect==1.0.9
motor==3.7.1
numpy>=1.23.0,<=2.1.1
opencv-python==4.11.0.86
pandas==2.2.3
Pillow==10.2.0
prometheus-client==0.21.1
protobuf<6,>=3.20
psutil==7.0.0
pydantic==2.11.5
pymongo==4.13.0
pytest==8.3.5
python-Levenshtein==0.27.1
qreader==3.16
requests==2.32.3
setuptools==76.0.0
streamlit==1.43.2
torch==2.2.1
transformers==4.49.0
ultralytics==8.3.91
uvicorn==0.34.2
vietocr==0.3.13
